# Bootstrap
/application/app/bootstrap*

# Symfony directories
!/application/.gitkeep
/application/web/bundles/
/application/app/cache/*
/application/app/config/parameters.yml
/application/app/logs/*
!/application/app/cache/.gitkeep
!/application/app/logs/.gitkeep
/application/build/
/application/vendor/
/application/bin/

# Idea
.idea